@namespace Aspire.Dashboard.Components

@using Aspire.Dashboard.Components.Controls.Grid
@using Aspire.Dashboard.Resources
@inject IStringLocalizer<ControlsStrings> Loc

<div class="metrics-filters-container">
    @if (DimensionFilters.Count > 0)
    {
        <div class="metrics-filters-section">
            <h5>@Loc[nameof(ControlsStrings.ChartContainerFiltersHeader)]</h5>
            <FluentDataGrid Items="@Queryable.AsQueryable(DimensionFilters)"
                            GridTemplateColumns="200px 1fr auto"
                            GenerateHeader="GenerateHeaderOption.None"
                            RowSize="DataGridRowSize.Medium">
                <ChildContent>
                    <AspirePropertyColumn Tooltip="true" TooltipText="@(c => c.Name)" Property="@(c => c.Name)"/>
                    <AspireTemplateColumn>
                        <ChartFilterTags @key="context" Filter="context" OnSelectionChanged="OnDimensionValuesChanged" />
                    </AspireTemplateColumn>
                    <AspireTemplateColumn>
                        <ChartFilterPopover @key="context" Filter="context" OnSelectionChanged="OnDimensionValuesChanged" />
                    </AspireTemplateColumn>
                </ChildContent>
            </FluentDataGrid>
        </div>
    }
    @if (Instrument.Summary.Type == OtlpInstrumentType.Histogram)
    {
        <div class="metrics-filters-section">
            <h5>@Loc[nameof(ControlsStrings.ChartContainerOptionsHeader)]</h5>
            <div>
                <FluentSwitch Class="table-switch"
                              Label="@Loc[nameof(ControlsStrings.ChartContainerShowCountLabel)]"
                              @bind-Value="@ShowCounts"
                              @bind-Value:after="ShowCountChanged"/>
            </div>
        </div>
    }
</div>
