@using Aspire.Dashboard.Resources
@using Aspire.Dashboard.Utils
@inject IStringLocalizer<Dialogs> Loc

<FluentDialogBody>
    <div class="notifications-container">
        @if (_notifications.Count == 0)
        {
            <div class="notification-center-empty">
                <FluentIcon Value="@(new Icons.Regular.Size24.Alert())" Color="Color.Neutral" />
                <p>@Loc[nameof(Dialogs.NotificationCenterEmpty)]</p>
            </div>
        }
        else
        {
            <div class="notifications-dismiss">
                <FluentButton Appearance="Appearance.Lightweight" OnClick="@DismissAll">
                    @Loc[nameof(Dialogs.NotificationCenterDismissAll)]
                </FluentButton>
            </div>
            <div class="notifications-scroll">
                @foreach (var notification in _notifications)
                {
                    <NotificationEntryComponent Entry="@notification.Entry" OnDismiss="@(() => Dismiss(notification.Id))" />
                }
            </div>
        }
    </div>
</FluentDialogBody>
